body{
        background: #0fee08;
        font-family: sans-serif;
        text-align: center;
}

h1,h2{
        color: #000000;
}

.ketengah{
        margin: 15px auto;
        width: 1180px;
}

.kotak1{
        background: #0761e9;
        padding: 30px;
        float: left;
        margin: 60px;
        width: 130px;
        height: 130px;
}

.kotak2{
        background: #0761e9;
        padding: 20px;
        float: left;
        margin: 60px;
        width: 110px;
        height: 110px;
        matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())
        -ms-transform: matrix(1,2,-1,1,5,4); /* Support IE 9 */
     -webkit-transform: matrix(1,2,-1,1,5,4); /* support Safari */
     transform: matrix(1,2,-1,1,5,4); /* Standard syntax */
}